<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-3">Sender</div>
        <div class="col-4"><input type="email" value="@User.Identity!.Name" id="senderEmail" /></div>
    </div>
    <div class="row">
        <div class="col-3">Receiver</div>
        <div class="col-4"><input type="email" id="receiverEmail" /></div>
    </div>
    <div class="row">
        <div class="col-3">Message</div>
        <div class="col-4"><input type="text" id="chatMessage" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendMessage" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.2/signalr.min.js"
        integrity="sha512-YXK3VHvk8oUFEYl3/DkoQ8dRIQWl7+igjOu1kW5TWKqdrvxCcQU6XgpzFSNMSO6ectu0EedR0aRcGcDFuW7eCA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
</script>

<script src="~/js/chat.js"></script>