<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="col-6 text-end">
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered hover" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Item</th>
                <th>Count</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script src="//cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.2/signalr.min.js"
        integrity="sha512-YXK3VHvk8oUFEYl3/DkoQ8dRIQWl7+igjOu1kW5TWKqdrvxCcQU6XgpzFSNMSO6ectu0EedR0aRcGcDFuW7eCA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
</script>
<script src="~/js/order.js"></script>